.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#545454;}
.st1{fill-rule:evenodd;clip-rule:evenodd;fill:#555555;}
.st2{fill-rule:evenodd;clip-rule:evenodd;fill:#565656;}
.st3{fill-rule:evenodd;clip-rule:evenodd;fill:#575757;}
.st4{fill-rule:evenodd;clip-rule:evenodd;fill:#F7F7F7;}
.st5{fill-rule:evenodd;clip-rule:evenodd;fill:#FAFAFA;}
.st6{fill-rule:evenodd;clip-rule:evenodd;fill:#FBFBFB;}
.st7{fill-rule:evenodd;clip-rule:evenodd;fill:#FCFCFC;}
.st8{fill-rule:evenodd;clip-rule:evenodd;fill:#FDFDFD;}
.st9{fill-rule:evenodd;clip-rule:evenodd;fill:#FEFEFE;}