$lightGrey: #585858;
$darkGrey: #222;

@font-face {font-family: "kiro-light";
  src: url("font/9b7fc1ec80b0c02782fdfb3767589141.eot"); /* IE9*/
  src: url("font/9b7fc1ec80b0c02782fdfb3767589141.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("font/9b7fc1ec80b0c02782fdfb3767589141.woff2") format("woff2"), /* chrome、firefox */
  url("font/9b7fc1ec80b0c02782fdfb3767589141.woff") format("woff"), /* chrome、firefox */
  url("font/9b7fc1ec80b0c02782fdfb3767589141.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("font/9b7fc1ec80b0c02782fdfb3767589141.svg#Kiro W01 Light") format("svg"); /* iOS 4.1- */
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family:"kiro-light",Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:1.42857143;
  color:white;
  text-transform: uppercase;
}
h2, h3 {
  margin: 0;
}
a{
  color:white;
  // text-decoration: none;
}
