@import 'reset';
// @import 'logo';
@import 'kaleidos';

body {
  background-color: $darkGrey;
  background-image: url(img/inside.jpg);
  background-position: top;
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-attachment: fixed;
  // @media (min-height: 538px) and (min-width: 755px) {
  // }
}

#wrapper {
}

#content {
  background-color: rgba($darkGrey, 0.9);
  margin: 0 auto;
  width: 320px;
  position: relative;
  z-index: 1;
  > * {
    padding: 10px;
  }
  padding-bottom: 10px;
}

#logo {
  width: 320px;
  padding: 40px 40px 30px;
}

#intro {
  text-align: center;
  p {
    margin: 0.25em;
  }
}
p {
  text-align: center;
}

#menu {
  display: none;
  width: 100%;
}

#booking {
  width: 100%;
  height: 400px;
  padding: 10px 0 10px;
}

#map {
}

footer {
  text-align: center;
  p, a {
    margin: 0.25em 0;
  }
  a {
    display: inline-block;
  }
}